
//Colors
$background: #1d2121;
$highlight-bright: #eb54bc;
$highlight-mellow: #14f195;
$accents: #80ecff;


//BreakPoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//Margins
$mobile-margins: 1rem;
$tablet-margins: 2rem;
$desktop-margins: 3.9rem;
